*{
  background-color: black;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  border: 1px solid white;
  width: 110%;
  height: 8rem;
  
  padding: 4rem;
  border-radius: 1rem;
}
.center{
  transform: translateY(-100%);
  display: flex;
  width: 100%;
  margin-top: 10px;
  border-radius: 1rem;
  
  gap: 1rem;
}
.password{
  width: 100%;
  background-color: aliceblue;
  padding:8px;
  color: #000;
}
.inputs{
  display: flex;
  gap: 1rem;
}
.length{
   display: flex;
   gap: 1rem;
}
.Num{
   display: flex;
   gap: 1rem;
}
.Char{
   display: flex;
   gap: 1rem;
}
label{
  color: wheat;
}
button{
  color: black;
  background-color: rgb(144, 232, 236);
  border-radius: .3rem;
  width: 50px;
}